In [1]:
import mysql.connector
import numpy as np
import pandas as pd

In [2]:
mydb = mysql.connector.connect(
  port = 3309,
  host="127.0.0.1",
  user="root",
  passwd="",
  database = 'nautiatoolkit'
)

In [3]:
cursor = mydb.cursor()
cursor.execute("SHOW TABLES")
tablesList = cursor.fetchall()
tablesList = np.array(tablesList)

In [5]:
query1 = "LOAD DATA INFILE 'C:/Users/guill/Documents/Universidad/PlataformaRefugiados/NAUTIA/DesarrolloPy/DataSetFinales/"
query2 = "INTO TABLE" 
query3 = "FIELDS TERMINATED BY ','"
query4 = "LINES TERMINATED BY '\\n'"
f = open('LoadDataScript.sql','w+')
i = 0
for row in tablesList:
    for elem in row:
        f.write(query1+elem+".csv'"+"\n"+query2+" "+elem+"\n"+query3+"\n"+query4+"\n\n")

f.close()