In [1]:
# -*- coding: utf-8 -*-
"""
Created on Tue Apr 21 12:34:54 2020

@author: guill
"""
import mysql.connector
import numpy as np
import pandas as pd
import os
import sklearn
#pd.options.mode.chained_assignment = None  # default='warn'

from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer()

#import nltk
#nltk.download("popular") # required to download the stopwords lists
#from nltk.corpus import stopwords

#spanish_stopwords = stopwords.words('spanish')
#english_stopwords = stopwords.words('english')

originalpath = "C:/Users/guill/Documents/Universidad/PlataformaRefugiados/NAUTIA/DesarrolloPy/DataSetOriginales"
finalpath = "C:/Users/guill/Documents/Universidad/PlataformaRefugiados/NAUTIA/DesarrolloPy/DataSetFinales"

mydb = mysql.connector.connect(
  port = 3309,
  host="127.0.0.1",
  user="root",
  passwd="",
  database = 'nautiatoolkit'
)
cursor = mydb.cursor()

def is_non_zero_file(fpath):
    return os.path.isfile(fpath) and os.path.getsize(fpath)

def getTableName(elem):
    if(elem.find("_has_camp") != -1):
        x = elem.replace("_has_camp","")
    else:
        if(elem.find("_has_country") != -1):
            x = elem.replace("_has_country","")
        else:
            if(elem.find("_has_community") != -1):
                x = elem.replace("_has_community","")
    return x

#AQUIIIIIIIIIIIIIIIIIIIIIIIIIII

def get_communityFK(elem):
    if(elem.find("_has_camp") != -1):
        cursor.execute("SELECT idCamp FROM camp ORDER BY idCamp DESC LIMIT 1")
    else:
        if(elem.find("_has_country") != -1):
            cursor.execute("SELECT idCountry FROM Country ORDER BY idCountry DESC LIMIT 1")
        else:
            if(elem.find("_has_community") != -1):
                cursor.execute("SELECT idCommunity FROM community ORDER BY idCommunity DESC LIMIT 1")
    return cursor.fetchall()

def get_tableFK(df,index):
    array = np.array(df)
    return array[index][0]


def fixBibliography(df):
    df = dfFix(df,"GENERAL INFORMATION - COUNTRY LEVEL")
    df.columns = ['GeneralInfo', 'CommunityCountry', 'RefugeeCountry']
    df.set_index('GeneralInfo', inplace = True)
    df = df.transpose()
    df = df.reset_index()
    return df

def dfFix(df,col1 = False,col2 = False):
    result = df.copy()
    if(col1):
        x = result.columns.get_loc(col1)
        result.drop(result.columns[0:x],axis = 1, inplace = True)
    if(col2):
        y = result.columns.get_loc(col2)
        result.drop(result.columns[y:],axis = 1, inplace = True)
    return result

def validColumn(cad):
    result = False
    if(cad == "index"):#Population
        result = True
    else:
        if(cad == "Type_of_settlement"):
            result = True
        else:
            if(cad == "General:settlement"):
                result = True
            else:
                if(cad == "general_info:_1_1_Choose_the_settlement"):
                    result = True
                else:
                    if(cad == "General_Information:Type_of_setlement"):
                        result = True
                    else:
                        if(cad == "General:Settlement"):
                            result = True
                        else:
                            if(cad == "Type_of_setlement"):
                                result = True
    return result

def dropRow(df,i):
    return df.drop(index = i)

def get_communityRows(df,cad,communityType): #la funci√≥n pd.loc[] tiene un bug indiscriminado (https://github.com/pandas-dev/pandas/issues/8555)
    result = df
    if(communityType == 0):
        comm = "host_community"
    else:
        comm = "refugee_camp"
    for index, row in df.iterrows():
        if(row[cad] != comm):
            result = dropRow(result,index)
    return result

def setDataByIndex(df,communityType):
    array = df.columns
    i = 0
    df = df.replace("refugee","refugee_camp")
    df = df.replace("host_comunity","host_community")
    df = df.replace("RefugeeCountry","refugee_camp")
    df = df.replace("CommunityCountry","host_community")
    while(validColumn(array[i]) == False):
        i += 1
    df = get_communityRows(df,array[i],communityType)
    return df

def set_AllCSVtoDF(communityType):
    Bibliography = pd.read_excel(getPath(originalpath,"Bibliography_120220.xlsx"))
    Bibliography = fixBibliography(Bibliography)
    Bibliography = setDataByIndex(Bibliography,communityType)
    Entities = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Entities_Interview_results.csv")),communityType)
    LocalLeaders = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Local_leaders_v3_results.csv")),communityType)
    HouseHold = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Survey_household_v6_results.csv")),communityType)
    WomenGroup = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Women_Focus_Group2_results.csv")),communityType)
    SanitationInfra = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_V1_0_Sanitation_Infrastructre_results.csv")),communityType)
    Priorities = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Priorities_v3_results.csv")),communityType)
    GeneralForm = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_General_form_v3_results.csv")),communityType)
    PublicSpace = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Public_Space_results.csv")),communityType)
    WaterInf = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Water_Infrastructure_results.csv")),communityType)
    SanitationInf = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_V1_0_Sanitation_Infrastructre_results.csv")),communityType)
    WasteManagementInf = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Waste_Management_Infrastructure_results.csv")),communityType)
    EnergyINF = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Energy_Infrastructure_results.csv")),communityType)
    Business = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA1_0_Business_surveys_v3_results.csv")),communityType)
    MobilityINF = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0__Transport_servicesaccess_points_results.csv")),communityType) 
    ComunalServices = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Communal_Services_results.csv")),communityType) 
    GeneralCitizen = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_General_Citizen_Focus_Group_results.csv")),communityType)
    Shelter = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Shelter_results.csv")),communityType)
    FarmyardCrop = setDataByIndex(pd.read_csv(getPath(originalpath,"NAUTIA_1_0_Farmyard_and_Crops_results.csv")),communityType)
    return Bibliography,Entities,LocalLeaders,HouseHold,WomenGroup,SanitationInfra,Priorities,GeneralForm,PublicSpace,WaterInf,EnergyINF,SanitationInf,WasteManagementInf,EnergyINF,Business,MobilityINF,ComunalServices,GeneralCitizen,Shelter,FarmyardCrop

def concatDF(df1,df2):
    return  pd.concat([df1,df2],axis = 1, ignore_index = True, sort = True)

def mkCSV(df,fileName):
    df = df.dropna(how = 'all')
    df *= 1   
    fileName = fileName.lower()
    df.to_csv('DataSetFinales/'+fileName,sep=',',header = False, index=False, encoding='utf-8')
    
def getPath(mainpath,filename):
    return os.path.join(mainpath, filename)

def getSubColumnNames(df,x):
    columns = df.columns
    array = []
    for column in columns:
        column = column[x:]
        array.append(column)
    return pd.DataFrame(array) 

def addInstitutionAndType(df,array1,array2,instType):
    df = df.dropna(axis = 1)
    df = np.array(df)
    for row in df:
        for elem in row:
            array1 = np.append(array1,elem)
            array2 = np.append(array2,instType)
    return array1,array2

def politicalActor(df1,df2,df3,df4,df5):
    institution = []
    instType = []

    institution, instType  = addInstitutionAndType(df1,institution,instType,'Public Institution')
    institution, instType  = addInstitutionAndType(df2,institution,instType,'Private Institution')
    institution, instType  = addInstitutionAndType(df3,institution,instType,'NGO')
    institution, instType  = addInstitutionAndType(df4,institution,instType,'International Agency')
    institution, instType  = addInstitutionAndType(df5,institution,instType,'Local')

    institution = pd.DataFrame(institution)
    institution = institution.reset_index(drop = True)
    instType = pd.DataFrame(instType)
    instType = instType.reset_index(drop = True)
    
    return concatDF(institution,instType)


def get_claveValor(df1,df2):
    array1 = np.array(df2)
    array2 = np.array(df1)
    result1 = []
    result2 = []
    i = 0
    for row in array1:
        var = array2[i]
        for elem in row:
            result1 = np.append(result1,elem)
            result2 = np.append(result2,var)
        i+=1
    result2 = pd.DataFrame(result2)
    result2 = result2.reset_index(drop = True)
    result1 = pd.DataFrame(result1)
    result1 = result1.reset_index(drop = True)
    return concatDF(result2,result1)

def get_number(df):
    df = np.array(df)
    array = np.array([])
    for column in df:
        for elem in column:
            array = np.append(array,elem)
    return (pd.DataFrame(array)).fillna(0) 

def get_valueBySector(df1,df2):
    df2 = df2.reset_index()
    array1 = np.array(df1)
    i = 0
    for row in array1:
        for elem in row:
            if(elem == False):
                df2 = dropRow(df2,i)
        i += 1
    df2 = df2.set_index('index')
    return df2


def separateValues(df):
    if(df.isnull().values.all(axis=0)):
        result = df
    else:
        array = np.array(df)
        count_vectorizer = CountVectorizer(stop_words = spanish_stopwords+english_stopwords)
        corpus = []
        for row in array:
            for elem in row:
                corpus = np.append(corpus,[elem])
        X = count_vectorizer.fit_transform(corpus)
        array = count_vectorizer.get_feature_names()
        result = pd.DataFrame(array)
    return result

def vectorizeValue(df):
    df = separateValues(df)
    year = np.array(['january','february','march','april','may','june','july','august','september','october','november','december'])
    result = np.array([],dtype = bool)
    df = np.array(df)
    for elem in year:
        flag = False
        for column in df:
            for month in column:
                if(column == elem):
                    flag = True
        if(flag):
            result = np.append(result,True)
        else:
            result = np.append(result,False)
    return pd.DataFrame(result)

def set_sector(df,sect, concat = True):
    sector = np.array([])
    df = df.dropna(how = 'all')
    df = np.array(df)
    for column in df:
        sector = np.append(sector,sect)
    sector = pd.DataFrame(sector)
    df = pd.DataFrame(df)
    if(concat):
        result = concatDF(sector,df)
    else:
        result = sector
    return result

In [2]:

def selectAll(table,community):
    cursor.execute("SELECT * FROM "+table)
    df1 = pd.DataFrame(cursor.fetchall())
    cols=list(df1.columns)
    for col in cols:
        df1[col] = df1[col].astype(str).str.replace("\r","")
    df2 = pd.read_csv(getPath(finalpath,table+".csv"))
    print(df1)
    print(df2)
    if(community.find("_has_camp") != -1):
        cursor.execute("SELECT * FROM "+table+" WHERE id"+table+"= (SELECT idCamp FROM camp ORDER BY idCamp DESC LIMIT 1)")
    else:
        if(community.find("_has_country") != -1):
            cursor.execute("SELECT idCountry FROM Country ORDER BY idCountry DESC LIMIT 1")
        else:
            if(community.find("_has_community") != -1):
                cursor.execute("SELECT idCommunity FROM community ORDER BY idCommunity DESC LIMIT 1")
    return cursor.fetchall()

In [3]:

#f = open('LoadDataCamp.sql','w+')

tablesNM = pd.read_csv("NMtablesCamp.csv")
tablesNM = np.array(tablesNM)
tables = np.array([])
originTables = np.array([])
for column in tablesNM:
    for elem in column:
        x = getTableName(elem)
        if(is_non_zero_file(getPath(finalpath,x+".csv"))):
            table = pd.DataFrame(selectAll(x,elem))
            communityFK = get_communityFK(elem)
            arrayTable = np.array([])
            arrayCommunity = np.array([])
            for index, row in table.iterrows():
                tableFK = get_tableFK(table, index)
                arrayTable = np.append(arrayTable,tableFK)
                arrayCommunity = np.append(arrayCommunity,communityFK[0][0])
            tableNM = concatDF((pd.DataFrame(arrayTable)),(pd.DataFrame(arrayCommunity)))

   0          1
0  1  comercial
1  2  comercial
   comercial
0  comercial
   0     1
0  1   nan
1  2   one
2  3  teff
    nan
0   one
1  teff
   0            1
0  1        coral
1  2  dactylifera
2  3          nan
3  4      phoenix
4  5        √°rbol
         coral
0  dactylifera
1          NaN
2      phoenix
3        √°rbol
   0                    1
0  1                  war
1  2                 poor
2  3  politic persecution
                   war
0                 poor
1  politic persecution
   0           1
0  1       Flood
1  2     dryness
2  3  earthquake
3  4       storm
4  5       plage
        Flood
0     dryness
1  earthquake
2       storm
3       plage
   0        1         2        3               4  5
0  1  27.4977  -7.82859  463.287          public  0
1  2  27.4862  -7.82392  457.146  private__insid  0
2  3  27.4947  -7.82842  455.606          public  0
3  4      nan       nan      nan          public  0
   27.49774864  -7.82858492  463.2865600586          public  0
0    27.486246    -7.823924      457.145956  private__insid  0
1    27.494720    -7.828418      455.605743          public  0
2          NaN          NaN             NaN          public  0
    0        1         2        3               4  5
0   1  27.4957  -7.82382   521.69  private__insid  0
1   2  27.4888  -7.82835  457.556          public  0
2   3  27.4875  -7.83021  452.842          public  0
3   4  27.4955  -7.82309  462.861  private__insid  0
4   5  27.4996  -7.82461  468.409          public  0
5   6  27.4974  -7.83321  466.942  private__insid  0
6   7  27.4977  -7.83318  461.898  private__insid  0
7   8  27.4912  -7.82552  451.052  private__insid  0
8   9  40.3868  -3.69912      0.0          public  0
9  10      nan       nan      nan  private__insid  0
   27.495740346399998  -7.8238219655  521.6904296875  private__insid  0
0           27.488802      -7.828352      457.556263          public  0
1           27.487468      -7.830206      452.842218          public  0
2           27.495528      -7.823089      462.861317  private__insid  0
3           27.499611      -7.824611      468.409302          public  0
4           27.497384      -7.833210      466.942444  private__insid  0
5           27.497743      -7.833182      461.898041  private__insid  0
6           27.491189      -7.825525      451.051514  private__insid  0
7           40.386818      -3.699125        0.000000          public  0
8                 NaN            NaN             NaN  private__insid  0
    0  1     2     3     4     5     6     7     8     9     10    11    12 13
0    1  1  None  None  None  None  None  None  None  None  None  None  None  1
1    2  1  None  None  None  None  None  None  None  None  None  None  None  1
2    3  1  None  None  None  None  None  None  None  None  None  None  None  1
3    4  1  None  None  None  None  None  None  None  None  None  None  None  1
4    5  1  None  None  None  None  None  None  None  None  None  None  None  1
5    6  1  None  None  None  None  None  None  None  None  None  None  None  1
6    7  1  None  None  None  None  None  None  None  None  None  None  None  1
7    8  1  None  None  None  None  None  None  None  None  None  None  None  1
8    9  1  None  None  None  None  None  None  None  None  None  None  None  1
9   10  1  None  None  None  None  None  None  None  None  None  None  None  1
10  11  1  None  None  None  None  None  None  None  None  None  None  None  1
11  12  1  None  None  None  None  None  None  None  None  None  None  None  1
    1
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   1
8   1
9   1
10  1
   0          1
0  1       meat
1  2      grain
2  3  vegetable
3  4      fruit
        meat
0      grain
1  vegetable
2      fruit
   0                 1
0  1  Humanitarian Aid
1  2             Crops
2  3            Market
  Humanitarian Aid
0            Crops
1           Market
   0           1
0  1   Breakfast
1  2       lunch
2  3  coffe time
3  4      dinner
    Breakfast
0       lunch
1  coffe time
2      dinner
   0           1
0  1     animals
1  2     cereals
2  3      fruits
3  4        none
4  5  vegetables
      animals
0     cereals
1      fruits
2        none
3  vegetables
   0                   1
0  1                 one
1  2                 two
2  3               three
3  4  Greater than three
                  one
0                 two
1               three
2  Greater than three
   0        1
0  1     pork
1  2     beef
2  3  chicken
3  4     lamp
4  5  cereals
5  6  legumes
6  7   fruits
      pork
0     beef
1  chicken
2     lamp
3  cereals
4  legumes
5   fruits
     0                                              1  \
0    1  Administration for Refugee and Returnee Affai
1    2  National Resource Development and Environment
2    3                     Ethiopian Electric Utility
3    4  Asociaci√≥n Espa√±ola de Cooperaci√≥n Internacio
4    5                                 IBERDROLA S.A.
5    6                 Fundaci√≥n ACCIONA Microenerg√≠a
6    7                                         itdUPM
7    8                                        Philips
8    9           International Rescue Committee (IRC)
9   10                Norwegian Refugee Council (NRC)
10  11                   Jesuit Refugee Service (JRS)
11  12             Centre of Victims of Torture (CVT)
12  13               Medecins Sans Frontieres (MSF-H)
13  14         Innovative Humanitarian Solutions (IHS
14  15                       World Food Program (WFP)
15  16  United Nations High Commissioner for Refugees
16  17         United Nations Childrens Fund (UNICEF)
17  18  International Organization for Migration (IOM
18  19    International Committee of RED Cross (ICRC)
19  20                     "Ethiopian Orthodox Church
20  21  Opportunities Industrialization Centre - Ethi

                                                2
0                              Public Institution
1                              Public Institution
2                              Public Institution
3                              Public Institution
4                             Private Institution
5                             Private Institution
6                             Private Institution
7                             Private Institution
8                                             NGO
9                                             NGO
10                                            NGO
11                                            NGO
12                                            NGO
13                                            NGO
14                           International Agency
15                           International Agency
16                           International Agency
17                           International Agency
18                           International Agency
19   Development and Inter-Church Aid Department
20                                          Local
   Administration for Refugee and Returnee Affairs (ARRA)  \
0   National Resource Development and Environmenta...
1                          Ethiopian Electric Utility
2   Asociaci√≥n Espa√±ola de Cooperaci√≥n Internacion...
3                                      IBERDROLA S.A.
4                      Fundaci√≥n ACCIONA Microenerg√≠a
5                                              itdUPM
6                                             Philips
7                International Rescue Committee (IRC)
8                     Norwegian Refugee Council (NRC)
9                        Jesuit Refugee Service (JRS)
10                 Centre of Victims of Torture (CVT)
11                   Medecins Sans Frontieres (MSF-H)
12             Innovative Humanitarian Solutions (IHS
13                           World Food Program (WFP)
14  United Nations High Commissioner for Refugees ...
15             United Nations Childrens Fund (UNICEF)
16     International Organization for Migration (IOM)
17        International Committee of RED Cross (ICRC)
18  Ethiopian Orthodox Church, Development and Int...
19  Opportunities Industrialization Centre - Ethio...

      Public Institution
0     Public Institution
1     Public Institution
2     Public Institution
3    Private Institution
4    Private Institution
5    Private Institution
6    Private Institution
7                    NGO
8                    NGO
9                    NGO
10                   NGO
11                   NGO
12                   NGO
13  International Agency
14  International Agency
15  International Agency
16  International Agency
17  International Agency
18                 Local
19                 Local
   0       1
0  1  Kunama
Empty DataFrame
Columns: [Kunama, Tigrinya, Saho]
Index: []
   0          1
0  1  Trigrinya
1  2      √Årabe
2  3   Triginya
3  4     Kunama
  Trigrinya
0     √Årabe
1  Triginya
2    Kunama
   0                      1
0  1                  Islam
1  2  Cristianismo Ortodoxo
2  3         Protestantismo
3  4           Cristianismo
4  5                 iIslam
                   Islam
0  Cristianismo Ortodoxo
1         Protestantismo
2           Cristianismo
3                 iIslam
   0                 1
0  1           lantern
1  2       light bulbs
2  3      mobile phone
3  4             radio
4  5                tv
5  6          computer
6  7            fridge
7  8  electrical stove
8  9            others
            lantern
0       light bulbs
1      mobile phone
2             radio
3                tv
4          computer
5            fridge
6  electrical stove
7            others
   0                1
0  1  electrical grid
1  2    diesel genset
2  3      solar panel
3  4            other
  electrical grid
0   diesel genset
1     solar panel
2           other
   0           1
0  1     walking
1  2  motrocycle
2  3        bike
3  4       truck
4  5      animal
5  6         car
      walking
0  motrocycle
1        bike
2       truck
3      animal
4         car
     0  1  2  3  4  5
0    1  1  0  1  1  1
1    2  1  1  1  1  1
2    3  1  1  1  1  0
3    4  1  1  1  1  1
4    5  1  1  1  1  1
5    6  1  0  1  1  0
6    7  1  1  1  1  1
7    8  0  0  0  0  0
8    9  1  1  1  1  1
9   10  1  1  1  1  1
10  11  1  0  1  1  1
11  12  1  1  1  1  1
12  13  0  0  1  1  1
13  14  1  1  1  1  1
14  15  1  1  1  1  1
15  16  1  1  1  1  1
16  17  1  1  1  1  0
17  18  1  1  1  1  0
18  19  1  1  1  1  0
19  20  1  1  1  1  1
20  21  1  1  1  1  1
21  22  1  1  1  1  1
22  23  1  1  1  1  1
23  24  1  1  1  1  1
24  25  1  0  1  1  1
25  26  1  1  1  1  1
26  27  1  1  1  1  1
27  28  1  1  1  1  0
28  29  1  1  1  1  1
29  30  0  0  0  0  0
30  31  1  1  1  1  0
31  32  1  1  1  1  1
32  33  1  0  0  0  0
33  34  0  0  0  0  0
34  35  1  0  0  0  0
35  36  0  0  0  0  0
36  37  0  0  0  0  0
    1  0  1.1  1.2  1.3
0   1  1    1    1    1
1   1  1    1    1    0
2   1  1    1    1    1
3   1  1    1    1    1
4   1  0    1    1    0
5   1  1    1    1    1
6   0  0    0    0    0
7   1  1    1    1    1
8   1  1    1    1    1
9   1  0    1    1    1
10  1  1    1    1    1
11  0  0    1    1    1
12  1  1    1    1    1
13  1  1    1    1    1
14  1  1    1    1    1
15  1  1    1    1    0
16  1  1    1    1    0
17  1  1    1    1    0
18  1  1    1    1    1
19  1  1    1    1    1
20  1  1    1    1    1
21  1  1    1    1    1
22  1  1    1    1    1
23  1  0    1    1    1
24  1  1    1    1    1
25  1  1    1    1    1
26  1  1    1    1    0
27  1  1    1    1    1
28  0  0    0    0    0
29  1  1    1    1    0
30  1  1    1    1    1
31  1  0    0    0    0
32  0  0    0    0    0
33  1  0    0    0    0
34  0  0    0    0    0
35  0  0    0    0    0
    0          1
0   1   WhatsApp
1   2   Facebook
2   3      Skype
3   4  Instagram
4   5     Google
5   6    Youtube
6   7      Email
7   8       Word
8   9      Excel
9  10       Otra
    WhatsApp
0   Facebook
1      Skype
2  Instagram
3     Google
4    Youtube
5      Email
6       Word
7      Excel
8       Otra
   0     1     2     3    4  5     6
0  1  None  None  None  yes  0  None
1  2  None  None  None   no  0  None
   Unnamed: 0  Unnamed: 1  Unnamed: 2 yes yes.1
0         NaN         NaN         NaN  no    no
   0       1
0  1  mobile
1  2     nan
   mobile
0     NaN
    0              1                   2      3               4       5   \
0    1           None                None    nan       secundary   985.0
1    2           None                None    nan         nursery   338.0
2    3           None                None    nan         primary   715.0
3    4           None                None    nan  vocational_tra    20.0
4    5  27.4892331723       -7.8294352113  455.0       secundary  1200.0
5    6  27.4939763502       -7.8329171673  460.0         nursery   280.0
6    7  27.4982200615  -7.833721182100001  464.0         primary     nan
7    8           None                None    nan         nursery    10.0
8    9           None                None    nan         nursery    20.0
9   10           None                None    nan       secundary    90.0
10  11           None                None    nan  vocational_tra    90.0
11  12    40.28116763         -3.80719204  758.0         nursery    60.0
12  13           None                None    nan         nursery    60.0
13  14           None                None    nan         nursery    60.0
14  15           None                None    nan         nursery    60.0
15  16           None                None    nan  vocational_tra    90.0
16  17           None                None    nan  vocational_tra    60.0

      6     7                 8                          9   \
0   16.0  33.0  books__noteboo_2  0 days 08:00:00.000000000
1    4.0  15.0    notebook_and_p  0 days 08:00:00.000000000
2   15.0  22.0    books__noteboo  0 days 07:00:00.000000000
3    7.0   1.0              None  0 days 07:00:00.000000000
4   12.0  38.0  books__noteboo_3  0 days 07:00:00.000000000
5   10.0  20.0    notebook_and_p  0 days 07:30:00.000000000
6    3.0  20.0    books__noteboo  0 days 07:30:00.000000000
7   10.0   5.0    notebook_and_p  0 days 07:00:00.000000000
8   12.0   7.0    books__noteboo  0 days 07:00:00.000000000
9    nan   7.0    notebook_and_p                        NaT
10   9.0   nan  books__noteboo_2  0 days 07:00:00.000000000
11  10.0   7.0    notebook_and_p  0 days 07:00:00.000000000
12   5.0   5.0    books__noteboo  0 days 07:00:00.000000000
13   5.0   7.0    books__noteboo  0 days 07:00:00.000000000
14  10.0   9.0    notebook_and_p  0 days 07:00:00.000000000
15  15.0   5.0  books__noteboo_2  0 days 07:00:00.000000000
16   5.0   9.0              None                        NaT

                           10 11
0   0 days 13:45:00.000000000  0
1   0 days 12:00:00.000000000  0
2   0 days 12:15:00.000000000  0
3   0 days 13:00:00.000000000  0
4   0 days 13:00:00.000000000  0
5   0 days 11:40:00.000000000  0
6   0 days 13:10:00.000000000  0
7   0 days 11:00:00.000000000  0
8   0 days 11:00:00.000000000  0
9   0 days 00:00:00.000000000  0
10  0 days 12:00:00.000000000  0
11  0 days 11:00:00.000000000  0
12  0 days 11:00:00.000000000  0
13  0 days 11:00:00.000000000  0
14  0 days 11:00:00.000000000  0
15  0 days 13:00:00.000000000  0
16  0 days 00:00:00.000000000  0
    Unnamed: 0  Unnamed: 1  Unnamed: 2       secundary   985.0  16.0  33.0  \
0          NaN         NaN         NaN         nursery   338.0   4.0  15.0
1          NaN         NaN         NaN         primary   715.0  15.0  22.0
2          NaN         NaN         NaN  vocational_tra    20.0   7.0   1.0
3    27.489233   -7.829435  455.467913       secundary  1200.0  12.0  38.0
4    27.493976   -7.832917  460.191193         nursery   280.0  10.0  20.0
5    27.498220   -7.833721  464.280121         primary     NaN   3.0  20.0
6          NaN         NaN         NaN         nursery    10.0  10.0   5.0
7          NaN         NaN         NaN         nursery    20.0  12.0   7.0
8          NaN         NaN         NaN       secundary    90.0   NaN   7.0
9          NaN         NaN         NaN  vocational_tra    90.0   9.0   NaN
10   40.281168   -3.807192  758.000000         nursery    60.0  10.0   7.0
11         NaN         NaN         NaN         nursery    60.0   5.0   5.0
12         NaN         NaN         NaN         nursery    60.0   5.0   7.0
13         NaN         NaN         NaN         nursery    60.0  10.0   9.0
14         NaN         NaN         NaN  vocational_tra    90.0  15.0   5.0
15         NaN         NaN         NaN  vocational_tra    60.0   5.0   9.0

    books__noteboo_2  08:00:00  13:45:00
0     notebook_and_p  08:00:00  12:00:00
1     books__noteboo  07:00:00  12:15:00
2                NaN  07:00:00  13:00:00
3   books__noteboo_3  07:00:00  13:00:00
4     notebook_and_p  07:30:00  11:40:00
5     books__noteboo  07:30:00  13:10:00
6     notebook_and_p  07:00:00  11:00:00
7     books__noteboo  07:00:00  11:00:00
8     notebook_and_p       NaN       NaN
9   books__noteboo_2  07:00:00  12:00:00
10    notebook_and_p  07:00:00  11:00:00
11    books__noteboo  07:00:00  11:00:00
12    books__noteboo  07:00:00  11:00:00
13    notebook_and_p  07:00:00  11:00:00
14  books__noteboo_2  07:00:00  13:00:00
15               NaN       NaN       NaN
   0     1     2     3   4     5  6
0  1  None  None  None  30  None  0
Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, 30.0]
Index: []
   0               1
0  1  economic_issue
1  2         illness
2  3  long_distance_
3  4             nan
4  5            work
   economic_issue
0         illness
1  long_distance_
2             NaN
3            work
   0        1         2        3                                4  \
0  1  27.4607  -8.17412  441.738                             None
1  2  27.4615   -8.1736  445.037  Nave crianza de pollos (desuso)
2  3  27.4978  -7.82855  461.468       Hacen ladrillos de cemento
3  4      nan       nan      nan                          Library

                             5     6
0  Matadero desuso (en Nhaila)  None
1                    En Nhaila  None
2                           Lo  None
3                  Biblioteca1  None
   27.46065982  -8.17411701  441.73779296879997  \
0    27.461491    -8.173601          445.036621
1    27.497802    -7.828554          461.468445
2          NaN          NaN                 NaN

                        Unnamed: 3 Matadero desuso (en Nhaila)
0  Nave crianza de pollos (desuso)                   En Nhaila
1       Hacen ladrillos de cemento                          Lo
2                          Library                 Biblioteca1

   0        1         2        3     4  5
0  1   27.497  -7.82312  462.693  None  0
1  2  27.4939  -7.83313   449.42  None  0
2  3  27.4895  -7.82294   440.56  None  0
   27.4969495108  -7.8231217190999995  462.69347966830003
0      27.493946            -7.833126          449.419830
1      27.489517            -7.822940          440.560455
   0            1
0  1   Phone Call
1  2     Internet
2  3           PC
3  4  Programming
    Phone Call
0     Internet
1           PC
2  Programming
   0              1
0  1  vegetal_waste
1  2  vegetal_waste
2  3          paper
   vegetal_waste
0  vegetal_waste
1          paper
   0        1
0  1  trabajo
Empty DataFrame
Columns: [trabajo]
Index: []
   0          1
0  1       food
1  2    clothes
2  3      water
3  4  education
4  5  transport
5  6     health
6  7     energy
        food
0    clothes
1      water
2  education
3  transport
4     health
5     energy
     0            1
0    1       others
1    2  remittances
2    3    livestock
3    4    subsidies
4    5     commerce
5    6    subsidies
6    7       others
7    8    subsidies
8    9       others
9   10    subsidies
10  11       others
11  12     commerce
12  13       others
13  14    subsidies
14  15    subsidies
15  16    subsidies
16  17       others
17  18       others
18  19       others
19  20       others
20  21      nothing
21  22    subsidies
22  23    subsidies
         others
0   remittances
1     livestock
2     subsidies
3      commerce
4     subsidies
5        others
6     subsidies
7        others
8     subsidies
9        others
10     commerce
11       others
12    subsidies
13    subsidies
14    subsidies
15       others
16       others
17       others
18       others
19      nothing
20    subsidies
21    subsidies
     0                      1
0    1                 energy
1    2                shelter
2    3           water access
3    4             sanitation
4    5              education
5    6                 health
6    7           public space
7    8                   food
8    9                    TIC
9   10                   work
10  11       waste management
11  12       public transport
12  13       religious center
13  14  socio cultural center
14  15                 market
                   energy
0                 shelter
1            water access
2              sanitation
3               education
4                  health
5            public space
6                    food
7                     TIC
8                    work
9        waste management
10       public transport
11       religious center
12  socio cultural center
13                 market
   0                1
0  1   Street_morning
1  2     Street_Night
2  3        Bath_Area
3  4    Latrine_Night
4  5       Open_Space
5  6        Work_Area
6  7    Shelter_Night
7  8  Shelter_Morning
    Street_morning
0     Street_Night
1        Bath_Area
2    Latrine_Night
3       Open_Space
4        Work_Area
5    Shelter_Night
6  Shelter_Morning
   0                    1
0  1  Firewood Collection
1  2              Cooking
  Firewood Collection
0             Cooking
   0                 1
0  1        Shade Area
1  2   Urban Furniture
2  3        Paved Area
3  4  Waste Management
         Shade Area
0   Urban Furniture
1        Paved Area
2  Waste Management